

    <div class="container-fluid">
        <div class="col 4">
            <h4>Business held in high esteem</h4>
        </div>
   </div>
   <body >
    

        <!--   begin of header section   -->
        <section class="header" id="overlay-1" style="height: 609px;">
            <div class="header-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <div class="theme-name">
                                <p>DELIGENCE AND EXCELLENCE</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="header-text">
                                <p class="service-text"> Customer service is our priority</p>
                            </div>
                        </div>
                    </div>

                    
                    </div>
            
                </div> 
        
        </section>
        
        

        <!--   begin of footer  section  -->
        <section class="footer">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="copy-right text-left">© 2022 KT. All rights reserved.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

    
   

   


</body>
    


